ul.menu {
float:right;
list-style-type:none;
display:block;
height:45px;
font-size:0.9em;
background-color:#9fc54e;
margin:0px;
padding:0px;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
}

ul.menu li {
display:block;
float:left;
height:45px;
}

ul.menu li a {
float:left;
color:#333333;
text-decoration:none;
height:24px;
padding:13px 25px 0;
}

ul.menu li a:hover {
color:#f1f6b5;
}

ul.menu .current a {
color:#f1f6b5;
}